<% post = comment.post %>
<div>
  <%= comment.body %>
  <i><%= link_to "x", post_comment_path(post, comment),
                        method: :delete,
                        remote: true,
                        data:   {confirm: "Are you sure?"}%></i>
  <hr>
</div>
