ENV['AWS_ACCESS_KEY_ID'] = "your aws access key"
ENV['AWS_SECRET_ACCESS_KEY'] = "your aws secrete access key"
ENV['FACEBOOK_KEY'] ="your facebook key"
ENV['FACEBOOK_SECRET'] ="your facebook secrete key"
ENV['TWITTER_CONSUMER_KEY'] = "your twitter consumer key"
ENV['TWITTER_CONSUMER_SECRET']	= "your twitter consumer secret key"
