<div class="post-like-form">
  <p>
  <% if post.liked_by?(current_user)%>
    <%= link_to fa_icon("thumbs-up"), post_post_like_path(post, post.like_for(current_user)), method: :delete, remote: true, class: "like-icon"  %>
  <% else %>
    <%= link_to fa_icon("thumbs-o-up"), post_post_likes_path(post), method: :post, remote: true, class: "like-icon" %>
  <% end %>
  <span>(<%= post.post_likes.count %>)</span>
  </p>
</div>
