<h1>Post index</h1>


<div>
  <div id="map" style='height: 500px;'></div>
</div>


<script type="text/javascript">

// "lat": location.coords.latitude,
//         "lng": location.coords.longitude



window.onload = function () {

  var location = navigator.geolocation.getCurrentPosition(function(location){
    // var calculatedAdjustedLat = function(map, newInfoWindow, lat) {
    //   var top = map.getBounds()['R'].j
    //   console.log(top)
    //   var newCenter = lat + ( (top - lat) / 2 )
    //   return newCenter
    // }


    var mapOptions = {
      center: new google.maps.LatLng(location.coords.latitude, location.coords.longitude),
      zoom: 17,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };


    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    var markers = <%= raw @markers_hash.to_json %>

    var newPostMarker = function(lat, lng) {
      $.ajax({
        method: "GET",
        url: "<%= new_post_url %>",
        data: {longitude: lng, latitude: lat},
        dataType: "html"
      })
        .done(function (data) {
          console.log(data);
          newMarker.infoWindow = new google.maps.InfoWindow({
            zIndex: 3,
            content: data
            // 'Latitude: ' + location.lat() + '<br />Longitude: ' + location.lng()
          });
          newMarker.infoWindow.open(map, newMarker);
          // google.maps.event.addListener(map, 'zoom_changed', function(e) {
          //   var infoPosition = newMarker.infoWindow.getPosition()
          //   map.setCenter(pos)
          //   var pos = {lng: infoPosition.lng(), lat: (infoPosition.lat() + calculatedAdjustedLat(map, newMarker.infoWindow, infoPosition.lat()))};
          //   console.log(map.getBounds());
          //
          // })
          google.maps.event.addListener(newMarker.infoWindow,'closeclick',function(){
            newMarker.setMap(null)
            newMarker = null;
            newMarkers = [];
            google.maps.event.clearListeners(map, 'zoom_changed');
          });
        })
    }

    var clusterInfo = function(markercluster) {

    }



    var markerArray = [];
    for (var i = 0; i < markers.length; i++) {
      var marker = new google.maps.Marker({
        position: {lat: markers[i].lat, lng: markers[i].lng},
        map: map,
      });

      marker.id = markers[i].id
      marker.infowindow = new google.maps.InfoWindow({
        zIndex: 1,
        content: markers[i].infowindow,
        position: {lat: markers[i].lat, lng: markers[i].lng}
      });
      markerArray.push(marker)
    }



    // google.maps.addListener(markers[1],  function() {
    //   console.log("dasdsa")
    // })


    window.markerCluster = new MarkerClusterer(map, markerArray, {zoomOnClick: false})
    var markers = markerCluster.markers_

    google.maps.event.addListener(markerCluster, 'click', function(clickedCluster) {
      console.log("kjnkjn")
      var cluster = clickedCluster.getMarkers()
      var marker_ids = []
      var center = clickedCluster.getCenter()
      // var marker = cluster[0]
      // var infoPosition = {lat: marker.position.lat(), lng: marker.position.lng()}
      cluster.forEach(function(marker) {
        marker_ids.push(marker.id)
      })
      console.log(marker_ids)

      $.ajax({
        method: "GET",
        url: "<%= cluster_posts_url %>",
        data: {marker_ids: marker_ids},
        dataType: "html"
      })
      .done( function (data){
        clickedCluster.infoWindow = new google.maps.InfoWindow({
          zIndex: 3,
          content: data,
          position: center
          // 'Latitude: ' + location.lat() + '<br />Longitude: ' + location.lng()
        });
        clickedCluster.infoWindow.open(map);
      })
    })

    // markerCluster.getClusters()


    var newMarkers = []
    var newMarker
    google.maps.event.addListener(map, 'click', function (e) {
      if (map.getZoom() >= 17) {
        if (newMarkers.length < 1) {

          var location = e.latLng;
          console.log(location)
          newMarker = new google.maps.Marker({
            position: location,
            map: map,
            draggable: true
          });

          newMarkers.push(newMarker)

          var position
          console.log(position)
          google.maps.event.addListener(newMarker, "dragend", function() {
            position = newMarker.getPosition();
            if (newMarker.infoWindow){
              newMarker.infoWindow.close();
            }
            console.log(position.lng() + " and " + position.lat())
            newPostMarker(position.lat(), position.lng())
          });


          var lat = location.lat();
          var lng = location.lng();


          newPostMarker(lat, lng);
        }
      }
    });

  })
};


</script>
